{% extends 'layout.html' %}
{% load static %}


<!doctype html>
<html lang="en">
<!--================Head Area =================-->
{% include 'includes/head.html' %}
<body>
<!--================Navbar  Area =================-->
{% include 'includes/navbar_1.html' %}
<!--================Head Emd Area =================-->

{% block content %}
    <!--================Blog Area =================-->

 <section class="home_banner_area ">
        <div class="container box_1620 ">
            <div class="row">
                <div class="col-sm-8 mt-5">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--================Sidebar =================-->
                <div class="col-sm-4 mt-5 ">
                    <div  style="width: 18rem;margin-bottom: 100px;">
                        <p class="h1" style="font-family: Roboto"> Populer Yazılar </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="http://localhost:8000/about-me">An item</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                    <div  style="width: 15rem;">
                        <p class="h1" style="font-family: Roboto"> En Çok Okunanlar  </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="http://localhost:8000/about-me">An item</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
    <!--================Sidebar End  =================-->
            </div>
        </div>
    </section>
{% endblock %}
<!--================Footer Area =================-->

<!--================End Footer Area =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'includes/footer.html' %}
</body>
</html>