{% extends 'layout.html' %}
{% load static %}


<!doctype html>
<html lang="en">
<!--================Head Area =================-->
{% include 'includes/head.html' %}
<body>
<!--================Navbar  Area =================-->
{% include 'includes/navbar_1.html' %}
<!--================Head Emd Area =================-->

{% block content %}
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area p_120">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-8 mt-5">
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card text-bg-primary mb-3">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ home_banner_image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="www.google.com">Card title</a></h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mt-5 ">
                    <div  style="width: 18rem;">
                        <p class="h1"> TITLE </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="http://localhost:8000/about-me">An item</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

<!--================Footer Area =================-->

<!--================End Footer Area =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'includes/footer.html' %}
</body>
</html>